In [1]:
## csvs needed player_information.csv, player_record.csv, players_personal.csv and team information.csv
import pandas as pd
import numpy as np

In [2]:
# Establish the desired league.
while True:
    league = input("Which League do you select? (rzb, ifl, ihof): ").lower()
    if league == 'rzb':
        prefix = 'RZBRZB15'
        break
    elif league == 'ifl':
        prefix = 'Imperial'
        break
    elif league == 'ihof':
        prefix = 'IHOF0001'
        break
    else:
        print("Invalid selection. Please choose 'rzb', 'ifl', or 'ihof'.")

root = f"C:/Users/Tom/AppData/Local/Solecismic Software/Front Office Football Eight/leaguedata/{prefix}"
player_record = pd.read_csv(root + '/' + 'player_record.csv')
players_personal = pd.read_csv(root + '/' + 'players_personal.csv')
team_information = pd.read_csv(root + '/' + 'team_information.csv')
try:
    player_information = pd.read_csv(
        root + '/' + 'player_information.csv',
        encoding='latin-1',
        low_memory=False,
        on_bad_lines='skip'  # Options: 'error', 'warn', or a function to handle bad lines - just skip, it's easiest.
    )
except pd.errors.ParserError as e:
    print(f"Error parsing file: {e}")

cur_year = int(input("Enter Current Draft Year: "))

In [3]:
round_1 = {
    "QB": 54,
    "RB": 50,
    "FB": 56,
    "SE": 53,
    "FL": 59,
    "TE": 61,
    "C": 66,
    "RG": 71,
    "LG": 71,
    "RT": 66,
    "LT": 71,
    "LDE": 68,
    "RDE": 68,
    "RDT": 65,
    "LDT": 65,
    "NT": 65,
    "SILB": 65,
    "WILB": 63,
    "MLB": 63,
    "WLB": 61,
    "SLB": 61,
    "LCB": 60,
    "RCB": 60,
    "SS": 63,
    "FS": 63
}

round_2 = {
    "QB": 40,
    "RB": 47,
    "FB": 60,
    "SE": 47,
    "FL": 47,
    "TE": 56,
    "C": 57,
    "RG": 62,
    "LG": 62,
    "RT": 55,
    "LT": 61,
    "LDE": 55,
    "RDE": 55,
    "RDT": 54,
    "LDT": 54,
    "NT": 53,
    "SILB": 53,
    "WILB": 54,
    "MLB": 54,
    "WLB": 51,
    "SLB": 51,
    "LCB": 50,
    "RCB": 50,
    "SS": 53,
    "FS": 53
}

round_3 = {
    "QB": 34,
    "RB": 47,
    "FB": 53,
    "SE": 45,
    "FL": 45,
    "TE": 51,
    "C": 56,
    "RG": 55,
    "LG": 55,
    "RT": 49,
    "LT": 54,
    "LDE": 49,
    "RDE": 49,
    "RDT": 49,
    "LDT": 49,
    "NT": 48,
    "SILB": 48,
    "WILB": 49,
    "MLB": 49,
    "WLB": 48,
    "SLB": 48,
    "LCB": 46,
    "RCB": 46,
    "SS": 47,
    "FS": 47
}

round_4 = {
    "QB": 38,
    "RB": 43,
    "FB": 51,
    "SE": 41,
    "FL": 40,
    "TE": 45,
    "C": 53,
    "RG": 52,
    "LG": 52,
    "RT": 49,
    "LT": 49,
    "LDE": 49,
    "RDE": 49,
    "RDT": 48,
    "LDT": 48,
    "NT": 48,
    "SILB": 48,
    "WILB": 45,
    "MLB": 45,
    "WLB": 44,
    "SLB": 44,
    "LCB": 43,
    "RCB": 42,
    "SS": 44,
    "FS": 44
}

round_5 = {
    "QB": 35,
    "RB": 41,
    "FB": 46,
    "SE": 38,
    "FL": 38,
    "TE": 41,
    "C": 51,
    "RG": 51,
    "LG": 51,
    "RT": 48,
    "LT": 48,
    "LDE": 47,
    "RDE": 47,
    "RDT": 48,
    "LDT": 48,
    "NT": 48,
    "SILB": 47,
    "WILB": 45,
    "MLB": 45,
    "WLB": 44,
    "SLB": 44,
    "LCB": 42,
    "RCB": 42,
    "SS": 44,
    "FS": 44
}

round_6 = {
    "QB": 35,
    "RB": 40,
    "FB": 43,
    "SE": 37,
    "FL": 37,
    "TE": 38,
    "C": 47,
    "RG": 47,
    "LG": 47,
    "RT": 43,
    "LT": 43,
    "LDE": 44,
    "RDE": 44,
    "RDT": 44,
    "LDT": 44,
    "NT": 44,
    "SILB": 44,
    "WILB": 41,
    "MLB": 41,
    "WLB": 41,
    "SLB": 41,
    "LCB": 39,
    "RCB": 39,
    "SS": 39,
    "FS": 39
}

round_7 = {
    "QB": 34,
    "RB": 39,
    "FB": 37,
    "SE": 36,
    "FL": 36,
    "TE": 35,
    "C": 45,
    "RG": 46,
    "LG": 46,
    "RT": 43,
    "LT": 43,
    "LDE": 43,
    "RDE": 43,
    "RDT": 43,
    "LDT": 43,
    "NT": 43,
    "SILB": 43,
    "WILB": 40,
    "MLB": 40,
    "WLB": 39,
    "SLB": 39,
    "LCB": 38,
    "RCB": 38,
    "SS": 38,
    "FS": 38
}

In [4]:
# Isolate only needed columns from player_information csv.
player_information = player_information[['Player_ID', 'First_Name', 'Last_Name', 'Position', 'Drafted_By', 'Draft_Round', 'Drafted_Position', 'Draft_Year']]
# Isolate only needed columns from players_personal csv.
players_personal = players_personal[['Player_ID', 'Future_Overall']]
# Isolate only needed columns from team_information csv.
team_information = team_information[['Team', 'Home_City']]

In [5]:
# Isolate only entries for current draft year.
# Filter the DataFrame for the current year and remove entries with 'P' or 'K' in the Position column
cur_draft = player_information[
    (player_information['Draft_Year'] == cur_year) &
    (~player_information['Position'].str.contains('P|K|LS', na=False))
].copy()

# Step 1: Create the mapping dictionary from team_information DataFrame
team_mapping = team_information.set_index('Team')['Home_City'].to_dict()

# Step 2: Overwrite the 'Drafted_By' column with team names in cur_draft
# cur_draft.loc[:, 'Drafted_By'] = cur_draft['Drafted_By'].map(team_mapping)
cur_draft['Drafted_By'] = cur_draft['Drafted_By'].map(team_mapping)
# merge in for info from players_personal
cur_draft = pd.merge(cur_draft, players_personal, how='left', on='Player_ID')

In [6]:
# Step 1: Load the EstimatedFV CSV into a DataFrame
estimated_fv_df = pd.read_csv('EstimatedFV.csv')

# Step 2: Merge the DataFrames, keeping only the 'expected_FV' column
cur_draft = pd.merge(cur_draft, 
                     estimated_fv_df[['draft round', 'draft_position', 'expected_FV']], 
                     how='left', 
                     left_on=['Draft_Round', 'Drafted_Position'], 
                     right_on=['draft round', 'draft_position'])

# Step 3: Drop the extra 'draft round' and 'draft_position' columns that were added during the merge
cur_draft.drop(columns=['draft round', 'draft_position'], inplace=True)

# Step 4: Convert 'expected_FV' column to int64, handling any NaN values
cur_draft['expected_FV'] = cur_draft['expected_FV'].fillna(0).astype('int64')

In [7]:
# Get the count of each unique value in the 'expected_FV' column ## IF NEEDED TO TROUBLESHOOT.
value_counts = cur_draft['expected_FV'].value_counts()

# Find the count of 0's specifically
zeros_count = value_counts.get(0, 0)

print(f"Number of 0's in the 'expected_FV' column: {zeros_count}")

Number of 0's in the 'expected_FV' column: 0

In [8]:
cur_draft['difference_BPA'] = (cur_draft['Future_Overall'] - cur_draft['expected_FV'])

In [12]:
def get_pos_avg(draft_round, position):
    # Select the appropriate dictionary based on the draft round
    if draft_round == 1:
        return round_1.get(position, 0)
    elif draft_round == 2:
        return round_2.get(position, 0)
    elif draft_round == 3:
        return round_3.get(position, 0)
    elif draft_round == 4:
        return round_4.get(position, 0)
    elif draft_round == 5:
        return round_5.get(position, 0)
    elif draft_round == 6:
        return round_6.get(position, 0)
    elif draft_round == 7:
        return round_7.get(position, 0)
    else:
        return 0  # If the draft round is out of bounds or not available

# Recompute pos_avg
cur_draft['pos_avg'] = cur_draft.apply(lambda row: get_pos_avg(row['Draft_Round'], row['Position']), axis=1)

In [13]:
# Calculate the weighted value and apply floor operation
cur_draft['weighted_value'] = np.floor(cur_draft['Future_Overall'] * 
                                       (cur_draft['Future_Overall'] / cur_draft['pos_avg'])).astype(int)

In [14]:
## This is an interesting way of viewing it - this should perhaps be assigned to it's own variable and included in the export too. 
top_20 = cur_draft.sort_values('weighted_value', ascending=False).head(20)

In [15]:
# Group by 'Drafted_By' and calculate the mean of 'difference_BPA'
bpa_df = cur_draft.groupby('Drafted_By', as_index=False)['difference_BPA'].mean().round(2)

# Rename the 'difference_BPA' column to 'bpa' to reflect the calculated average
bpa_df.rename(columns={'difference_BPA': 'bpa'}, inplace=True)

# Sort the DataFrame by the 'bpa' column in descending order
bpa_df = bpa_df.sort_values(by='bpa', ascending=False)

# Add a rank column based on the sorted 'bpa' values
bpa_df['bpa_rank'] = bpa_df['bpa'].rank(ascending=False, method='min').astype(int)

# Define the conditions for the 'verdict' column
conditions = [
    (bpa_df['bpa'] > 2.01),
    (bpa_df['bpa'] >= -2.00) & (bpa_df['bpa'] <= 2.00),
    (bpa_df['bpa'] < -2.01)
]

# Define the corresponding verdicts
verdicts = [
    'Did well for BPA',
    'Drafted as expected',
    'Missed on picks or prioritised other things over BPA'
]

# Add the 'verdict' column to the DataFrame
bpa_df['verdict'] = np.select(conditions, verdicts, default='Unknown')

# Reorder columns to have 'rank' as the first column
bpa_df = bpa_df[['bpa_rank', 'Drafted_By', 'bpa', 'verdict']]

# Reset the index of the DataFrame
bpa_df.reset_index(drop=True, inplace=True)

# Display the final DataFrame
bpa_df

,bpa_rank,Drafted_By,bpa,verdict
0,1,Frederick,11.40,Did well for BPA
1,2,Hanalei,10.80,Did well for BPA
2,3,Tucker,9.00,Did well for BPA
3,4,Oakland,5.50,Did well for BPA
4,5,Orlando,4.25,Did well for BPA
5,6,Fort Wayne,3.92,Did well for BPA
6,7,Atlanta,3.90,Did well for BPA
7,8,San Antonio,2.50,Did well for BPA
8,9,Gothenburg,1.78,Drafted as expected
9,10,Iowa,1.67,Drafted as expected
10,11,Texas,1.29,Drafted as expected
11,11,Capital City,1.29,Drafted as expected
12,13,Chicago,0.67,Drafted as expected
13,14,Outer Banks,0.14,Drafted as expected
14,15,Brooklyn,-0.43,Drafted as expected
15,16,Augusta,-0.50,Drafted as expected
16,17,Bordeaux,-0.83,Drafted as expected
17,18,Toronto,-1.86,Drafted as expected
18,19,Rochester,-2.50,Missed on picks or prioritised other things ov...
19,20,Snapfinger,-2.71,Missed on picks or prioritised other things ov...
20,21,Williamsburg,-3.00,Missed on picks or prioritised other things ov...
21,22,Moontown,-3.86,Missed on picks or prioritised other things ov...
22,23,North Plainfield,-4.00,Missed on picks or prioritised other things ov...
23,23,Chesapeake,-4.00,Missed on picks or prioritised other things ov...
24,25,Colorado,-4.17,Missed on picks or prioritised other things ov...
25,26,Fairbanks,-4.71,Missed on picks or prioritised other things ov...
26,27,Houston,-6.20,Missed on picks or prioritised other things ov...
27,28,Kansas,-6.67,Missed on picks or prioritised other things ov...
28,29,Harlem,-7.00,Missed on picks or prioritised other things ov...
29,30,Arizona,-7.14,Missed on picks or prioritised other things ov...
30,31,Maassluis,-8.00,Missed on picks or prioritised other things ov...
31,32,Paris,-8.30,Missed on picks or prioritised other things ov...

In [16]:
# Group by 'Drafted_By' and calculate the mean of 'weighted_value'
weighted_df_raw = cur_draft.groupby('Drafted_By', as_index=False)['weighted_value'].mean().round(2)

# Rename the 'difference_BPA' column to 'bpa' to reflect the calculated average
weighted_df_raw.rename(columns={'weighted_average': 'weighted_value'}, inplace=True)

# Sort the DataFrame by the 'bpa' column in descending order
weighted_df_raw = weighted_df_raw.sort_values(by='weighted_value', ascending=False)

# Add a rank column based on the sorted 'bpa' values
weighted_df_raw['weighted_rank'] = weighted_df_raw['weighted_value'].rank(ascending=False, method='min').astype(int)

# Define the conditions for the 'verdict' column
conditions = [
    (weighted_df_raw['weighted_value'] >= 50),
    (weighted_df_raw['weighted_value'] <= 49.9) & (weighted_df_raw['weighted_value'] >= 44),
    (weighted_df_raw['weighted_value'] < 44)
]

# Define the corresponding verdicts
verdicts = [
    'Acquired 2+ Starters',
    'As Expected/Mid',
    'Had Several Misses',
]

# Add the 'verdict' column to the DataFrame
weighted_df_raw['verdict'] = np.select(conditions, verdicts, default='Unknown')

# Reorder columns to have 'rank' as the first column
weighted_df_raw = weighted_df_raw[['weighted_rank', 'Drafted_By', 'weighted_value', 'verdict']]

# Reset the index of the DataFrame
weighted_df_raw.reset_index(drop=True, inplace=True)

# Display the final DataFrame
weighted_df_raw

    weighted_rank        Drafted_By  weighted_value               verdict
0               1           Hanalei           80.40  Acquired 2+ Starters
1               2         Frederick           72.00  Acquired 2+ Starters
2               3            Tucker           60.75  Acquired 2+ Starters
3               4           Oakland           60.00  Acquired 2+ Starters
4               5      Capital City           55.43  Acquired 2+ Starters
5               6        Fort Wayne           55.42  Acquired 2+ Starters
6               7           Atlanta           55.10  Acquired 2+ Starters
7               8           Orlando           54.00  Acquired 2+ Starters
8               9             Texas           53.57  Acquired 2+ Starters
9              10       San Antonio           52.17  Acquired 2+ Starters
10             11          Bordeaux           50.83  Acquired 2+ Starters
11             12              Iowa           50.50  Acquired 2+ Starters
12             13          Brooklyn           50.29  Acquired 2+ Starters
13             14           Augusta           48.38       As Expected/Mid
14             15        Gothenburg           47.89       As Expected/Mid
15             16      Williamsburg           45.43       As Expected/Mid
16             17         Rochester           43.83    Had Several Misses
17             18          Moontown           43.29    Had Several Misses
18             18           Toronto           43.29    Had Several Misses
19             20           Chicago           42.83    Had Several Misses
20             21       Outer Banks           42.43    Had Several Misses
21             22        Snapfinger           41.57    Had Several Misses
22             23         Fairbanks           39.86    Had Several Misses
23             24        Chesapeake           39.83    Had Several Misses
24             25  North Plainfield           39.17    Had Several Misses
25             26         Maassluis           38.00    Had Several Misses
26             27            Harlem           34.50    Had Several Misses
27             28          Colorado           34.00    Had Several Misses
28             29            Kansas           33.67    Had Several Misses
29             30           Houston           31.40    Had Several Misses
30             31             Paris           30.90    Had Several Misses
31             32           Arizona           29.71    Had Several Misses

In [17]:
# Merge bpa_df with weighted_df on the 'Drafted_By' column
weighted_rank = pd.merge(bpa_df[['Drafted_By', 'bpa_rank']], weighted_df_raw, on='Drafted_By', how='left')

# Rename the 'rank' column from bpa_df to 'bpa_rank' to avoid confusion
# combined_df.rename(columns={'rank': 'bpa_rank'}, inplace=True)

# Reorder columns to have 'bpa_rank' as the first column
weighted_rank = weighted_rank[['bpa_rank', 'weighted_rank', 'Drafted_By', 'weighted_value', 'verdict']]

# Sort the DataFrame by the 'weighted_rank' column in ascending order
weighted_rank = weighted_rank.sort_values(by='weighted_rank', ascending=True)

# Reset the index again after sorting, if desired
weighted_rank.reset_index(drop=True, inplace=True)

# Display the final sorted DataFrame
weighted_rank

,bpa_rank,weighted_rank,Drafted_By,weighted_value,verdict
0,2,1,Hanalei,80.40,Acquired 2+ Starters
1,1,2,Frederick,72.00,Acquired 2+ Starters
2,3,3,Tucker,60.75,Acquired 2+ Starters
3,4,4,Oakland,60.00,Acquired 2+ Starters
4,11,5,Capital City,55.43,Acquired 2+ Starters
5,6,6,Fort Wayne,55.42,Acquired 2+ Starters
6,7,7,Atlanta,55.10,Acquired 2+ Starters
7,5,8,Orlando,54.00,Acquired 2+ Starters
8,11,9,Texas,53.57,Acquired 2+ Starters
9,8,10,San Antonio,52.17,Acquired 2+ Starters
10,17,11,Bordeaux,50.83,Acquired 2+ Starters
11,10,12,Iowa,50.50,Acquired 2+ Starters
12,15,13,Brooklyn,50.29,Acquired 2+ Starters
13,16,14,Augusta,48.38,As Expected/Mid
14,9,15,Gothenburg,47.89,As Expected/Mid
15,21,16,Williamsburg,45.43,As Expected/Mid
16,19,17,Rochester,43.83,Had Several Misses
17,18,18,Toronto,43.29,Had Several Misses
18,22,18,Moontown,43.29,Had Several Misses
19,13,20,Chicago,42.83,Had Several Misses
20,14,21,Outer Banks,42.43,Had Several Misses
21,20,22,Snapfinger,41.57,Had Several Misses
22,26,23,Fairbanks,39.86,Had Several Misses
23,23,24,Chesapeake,39.83,Had Several Misses
24,23,25,North Plainfield,39.17,Had Several Misses
25,31,26,Maassluis,38.00,Had Several Misses
26,29,27,Harlem,34.50,Had Several Misses
27,25,28,Colorado,34.00,Had Several Misses
28,28,29,Kansas,33.67,Had Several Misses
29,27,30,Houston,31.40,Had Several Misses
30,32,31,Paris,30.90,Had Several Misses
31,30,32,Arizona,29.71,Had Several Misses

In [18]:
# Calculate the mean of 'difference_BPA' per draft round
draft_quality = cur_draft.groupby('Draft_Round', as_index=False)['difference_BPA'].mean()

# Rename the columns to match the desired format
draft_quality.rename(columns={'difference_BPA': 'average value'}, inplace=True)

# Sort by round to ensure it's in order
draft_quality = draft_quality.sort_values(by='Draft_Round')

# Round the 'average value' column to two decimal places
draft_quality['average value'] = draft_quality['average value'].round(2)

# Reset the index (optional, for clean indexing)
draft_quality.reset_index(drop=True, inplace=True)

# Optionally, add an 'overall' row to represent the overall average value across all rounds
overall_mean = cur_draft['difference_BPA'].mean().round(2)
draft_quality.loc[len(draft_quality.index)] = ['overall', overall_mean]

# Display the final DataFrame
draft_quality

  Draft_Round  average value
0           1          -0.59
1           2          -0.44
2           3          -0.77
3           4          -0.77
4           5          -0.96
5           6          -1.57
6           7           0.76
7     overall          -0.62

In [19]:
## Write the dataframes to an excel file to be shared/saved.
def save_dfs_to_excel(**dfs):
    filename = f"{league}_{cur_year}_DraftGrades.xlsx"
    
    # Create an Excel writer object with the filename based on the league_cur_year
    with pd.ExcelWriter(filename, engine='xlsxwriter') as writer:
        # Iterate over the dictionary of DataFrames and their sheet names
        for sheet_name, df in dfs.items():
            # Write the DataFrame to the corresponding sheet
            df.to_excel(writer, sheet_name=sheet_name, index=False)

# Example usage with your DataFrames
save_dfs_to_excel(bpa_df=bpa_df, 
                  weighted_rank=weighted_rank,
                  top_20=top_20, 
                  draft_quality=draft_quality)