In [1]:
## csvs needed player_information.csv, player_record.csv, players_personal.csv and team information.csv
import pandas as pd
import numpy as np

In [2]:
# Establish the desired league.
while True:
    league = input("Which League do you select? (rzb, ifl, ihof): ").lower()
    if league == 'rzb':
        prefix = 'RZBRZB15'
        break
    elif league == 'ifl':
        prefix = 'Imperial'
        break
    elif league == 'ihof':
        prefix = 'IHOF0001'
        break
    else:
        print("Invalid selection. Please choose 'rzb', 'ifl', or 'ihof'.")

root = f"C:/Users/Tom/AppData/Local/Solecismic Software/Front Office Football Eight/leaguedata/{prefix}"
player_record = pd.read_csv(root + '/' + 'player_record.csv')
players_personal = pd.read_csv(root + '/' + 'players_personal.csv')
team_information = pd.read_csv(root + '/' + 'team_information.csv')
try:
    player_information = pd.read_csv(
        root + '/' + 'player_information.csv',
        encoding='latin-1',
        low_memory=False,
        on_bad_lines='skip'  # Options: 'error', 'warn', or a function to handle bad lines - just skip, it's easiest.
    )
except pd.errors.ParserError as e:
    print(f"Error parsing file: {e}")

cur_year = int(input("Enter Current Draft Year: "))

In [3]:
round_1 = {
    "QB": 54,
    "RB": 50,
    "FB": 56,
    "SE": 53,
    "FL": 59,
    "TE": 61,
    "C": 66,
    "RG": 71,
    "LG": 71,
    "RT": 66,
    "LT": 71,
    "LDE": 68,
    "RDE": 68,
    "RDT": 65,
    "LDT": 65,
    "NT": 65,
    "SILB": 65,
    "WILB": 63,
    "MLB": 63,
    "WLB": 61,
    "SLB": 61,
    "LCB": 60,
    "RCB": 60,
    "SS": 63,
    "FS": 63
}

round_2 = {
    "QB": 40,
    "RB": 47,
    "FB": 60,
    "SE": 47,
    "FL": 47,
    "TE": 56,
    "C": 57,
    "RG": 62,
    "LG": 62,
    "RT": 55,
    "LT": 61,
    "LDE": 55,
    "RDE": 55,
    "RDT": 54,
    "LDT": 54,
    "NT": 53,
    "SILB": 53,
    "WILB": 54,
    "MLB": 54,
    "WLB": 51,
    "SLB": 51,
    "LCB": 50,
    "RCB": 50,
    "SS": 53,
    "FS": 53
}

round_3 = {
    "QB": 34,
    "RB": 47,
    "FB": 53,
    "SE": 45,
    "FL": 45,
    "TE": 51,
    "C": 56,
    "RG": 55,
    "LG": 55,
    "RT": 49,
    "LT": 54,
    "LDE": 49,
    "RDE": 49,
    "RDT": 49,
    "LDT": 49,
    "NT": 48,
    "SILB": 48,
    "WILB": 49,
    "MLB": 49,
    "WLB": 48,
    "SLB": 48,
    "LCB": 46,
    "RCB": 46,
    "SS": 47,
    "FS": 47
}

round_4 = {
    "QB": 38,
    "RB": 43,
    "FB": 51,
    "SE": 41,
    "FL": 40,
    "TE": 45,
    "C": 53,
    "RG": 52,
    "LG": 52,
    "RT": 49,
    "LT": 49,
    "LDE": 49,
    "RDE": 49,
    "RDT": 48,
    "LDT": 48,
    "NT": 48,
    "SILB": 48,
    "WILB": 45,
    "MLB": 45,
    "WLB": 44,
    "SLB": 44,
    "LCB": 43,
    "RCB": 42,
    "SS": 44,
    "FS": 44
}

round_5 = {
    "QB": 35,
    "RB": 41,
    "FB": 46,
    "SE": 38,
    "FL": 38,
    "TE": 41,
    "C": 51,
    "RG": 51,
    "LG": 51,
    "RT": 48,
    "LT": 48,
    "LDE": 47,
    "RDE": 47,
    "RDT": 48,
    "LDT": 48,
    "NT": 48,
    "SILB": 47,
    "WILB": 45,
    "MLB": 45,
    "WLB": 44,
    "SLB": 44,
    "LCB": 42,
    "RCB": 42,
    "SS": 44,
    "FS": 44
}

round_6 = {
    "QB": 35,
    "RB": 40,
    "FB": 43,
    "SE": 37,
    "FL": 37,
    "TE": 38,
    "C": 47,
    "RG": 47,
    "LG": 47,
    "RT": 43,
    "LT": 43,
    "LDE": 44,
    "RDE": 44,
    "RDT": 44,
    "LDT": 44,
    "NT": 44,
    "SILB": 44,
    "WILB": 41,
    "MLB": 41,
    "WLB": 41,
    "SLB": 41,
    "LCB": 39,
    "RCB": 39,
    "SS": 39,
    "FS": 39
}

round_7 = {
    "QB": 34,
    "RB": 39,
    "FB": 37,
    "SE": 36,
    "FL": 36,
    "TE": 35,
    "C": 45,
    "RG": 46,
    "LG": 46,
    "RT": 43,
    "LT": 43,
    "LDE": 43,
    "RDE": 43,
    "RDT": 43,
    "LDT": 43,
    "NT": 43,
    "SILB": 43,
    "WILB": 40,
    "MLB": 40,
    "WLB": 39,
    "SLB": 39,
    "LCB": 38,
    "RCB": 38,
    "SS": 38,
    "FS": 38
}

In [4]:
# Isolate only needed columns from player_information csv.
player_information = player_information[['Player_ID', 'First_Name', 'Last_Name', 'Position', 'Drafted_By', 'Draft_Round', 'Drafted_Position', 'Draft_Year']]
# Isolate only needed columns from players_personal csv.
players_personal = players_personal[['Player_ID', 'Future_Overall']]
# Isolate only needed columns from team_information csv.
team_information = team_information[['Team', 'Home_City']]

In [5]:
# Isolate only entries for current draft year.
# Filter the DataFrame for the current year and remove entries with 'P' or 'K' in the Position column
cur_draft = player_information[
    (player_information['Draft_Year'] == cur_year) &
    (~player_information['Position'].str.contains('P|K', na=False))
].copy()

# Step 1: Create the mapping dictionary from team_information DataFrame
team_mapping = team_information.set_index('Team')['Home_City'].to_dict()

# Step 2: Overwrite the 'Drafted_By' column with team names in cur_draft
# cur_draft.loc[:, 'Drafted_By'] = cur_draft['Drafted_By'].map(team_mapping)
cur_draft['Drafted_By'] = cur_draft['Drafted_By'].map(team_mapping)
# merge in for info from players_personal
cur_draft = pd.merge(cur_draft, players_personal, how='left', on='Player_ID')

In [6]:
# Step 1: Load the EstimatedFV CSV into a DataFrame
estimated_fv_df = pd.read_csv('EstimatedFV.csv')

# Step 2: Merge the DataFrames, keeping only the 'expected_FV' column
cur_draft = pd.merge(cur_draft, 
                     estimated_fv_df[['draft round', 'draft_position', 'expected_FV']], 
                     how='left', 
                     left_on=['Draft_Round', 'Drafted_Position'], 
                     right_on=['draft round', 'draft_position'])

# Step 3: Drop the extra 'draft round' and 'draft_position' columns that were added during the merge
cur_draft.drop(columns=['draft round', 'draft_position'], inplace=True)

# Step 4: Convert 'expected_FV' column to int64, handling any NaN values
cur_draft['expected_FV'] = cur_draft['expected_FV'].fillna(0).astype('int64')

In [7]:
# Get the count of each unique value in the 'expected_FV' column ## IF NEEDED TO TROUBLESHOOT.
value_counts = cur_draft['expected_FV'].value_counts()

# Find the count of 0's specifically
zeros_count = value_counts.get(0, 0)

print(f"Number of 0's in the 'expected_FV' column: {zeros_count}")

Number of 0's in the 'expected_FV' column: 0

In [8]:
cur_draft['difference_BPA'] = (cur_draft['Future_Overall'] - cur_draft['expected_FV'])

In [9]:
def get_pos_avg(draft_round, position):
    # Select the appropriate dictionary based on the draft round
    if draft_round == 1:
        return round_1.get(position, 0)
    elif draft_round == 2:
        return round_2.get(position, 0)
    elif draft_round == 3:
        return round_3.get(position, 0)
    elif draft_round == 4:
        return round_4.get(position, 0)
    elif draft_round == 5:
        return round_5.get(position, 0)
    elif draft_round == 6:
        return round_6.get(position, 0)
    elif draft_round == 7:
        return round_7.get(position, 0)
    else:
        return 0  # If the draft round is out of bounds or not available

# Recompute pos_avg
cur_draft['pos_avg'] = cur_draft.apply(lambda row: get_pos_avg(row['Draft_Round'], row['Position']), axis=1)

In [10]:
# Calculate the weighted value and apply floor operation
cur_draft['weighted_value'] = np.floor(cur_draft['Future_Overall'] * 
                                       (cur_draft['Future_Overall'] / cur_draft['pos_avg'])).astype(int)

In [11]:
cur_draft.sort_values('weighted_value', ascending=False).head(10)

,Player_ID,First_Name,Last_Name,Position,Drafted_By,Draft_Round,Drafted_Position,Draft_Year,Future_Overall,expected_FV,difference_BPA,pos_avg,weighted_value
144,42863,Jessie,Winters,NT,Jacksonville,1,18,2063,86,64,22,65,113
117,42796,Nate,Wilcox,RDT,Dallas,2,14,2063,76,56,20,54,106
65,42565,Nickolas,Cortez,SE,Indianapolis,1,2,2063,75,66,9,53,106
186,42995,O.J.,Ingram,LCB,Minnesota,2,7,2063,72,53,19,50,103
77,42614,Courtney,Schultz,LG,Minnesota,4,17,2063,73,42,31,52,102
78,42619,Kerry,Craig,RG,Kansas City,1,11,2063,84,64,20,71,99
27,42387,Daniel,Lane,FL,Pittsburgh,1,3,2063,76,66,10,59,97
28,42388,Chance,Witkop,RB,Cincinnati,1,12,2063,69,66,3,50,95
20,42374,Ross,Anthony,RB,Philadelphia,1,8,2063,69,63,6,50,95
97,42691,Floyd,Heskew,RT,Pittsburgh,6,25,2063,64,38,26,43,95

In [12]:
# Group by 'Drafted_By' and calculate the mean of 'difference_BPA'
bpa_df = cur_draft.groupby('Drafted_By', as_index=False)['difference_BPA'].mean().round(2)

# Rename the 'difference_BPA' column to 'bpa' to reflect the calculated average
bpa_df.rename(columns={'difference_BPA': 'bpa'}, inplace=True)

# Sort the DataFrame by the 'bpa' column in descending order
bpa_df = bpa_df.sort_values(by='bpa', ascending=False)

# Add a rank column based on the sorted 'bpa' values
bpa_df['bpa_rank'] = bpa_df['bpa'].rank(ascending=False, method='min').astype(int)

# Define the conditions for the 'verdict' column
conditions = [
    (bpa_df['bpa'] > 2.01),
    (bpa_df['bpa'] >= -2.00) & (bpa_df['bpa'] <= 2.00),
    (bpa_df['bpa'] < -2.01)
]

# Define the corresponding verdicts
verdicts = [
    'Did well for BPA',
    'Drafted as expected',
    'Missed on picks or prioritised other things over BPA'
]

# Add the 'verdict' column to the DataFrame
bpa_df['verdict'] = np.select(conditions, verdicts, default='Unknown')

# Reorder columns to have 'rank' as the first column
bpa_df = bpa_df[['bpa_rank', 'Drafted_By', 'bpa', 'verdict']]

# Reset the index of the DataFrame
bpa_df.reset_index(drop=True, inplace=True)

# Display the final DataFrame
bpa_df

,bpa_rank,Drafted_By,bpa,verdict
0,1,Tampa Bay,11.83,Did well for BPA
1,2,Pittsburgh,9.57,Did well for BPA
2,3,Minnesota,9.33,Did well for BPA
3,4,New England,8.75,Did well for BPA
4,5,Atlanta,8.67,Did well for BPA
5,6,New Orleans,6.67,Did well for BPA
6,7,Kansas City,6.43,Did well for BPA
7,8,Washington,6.00,Did well for BPA
8,9,Seattle,5.00,Did well for BPA
9,9,Philadelphia,5.00,Did well for BPA
10,11,Dallas,4.56,Did well for BPA
11,12,Green Bay,3.38,Did well for BPA
12,13,Los Angeles (A),3.20,Did well for BPA
13,14,Los Angeles (N),3.14,Did well for BPA
14,15,Carolina,2.86,Did well for BPA
15,16,New York (A),2.20,Did well for BPA
16,17,Arizona,1.83,Drafted as expected
17,18,Las Vegas,1.80,Drafted as expected
18,19,Jacksonville,1.75,Drafted as expected
19,20,San Francisco,1.43,Drafted as expected
20,21,Baltimore,0.62,Drafted as expected
21,22,Cleveland,0.57,Drafted as expected
22,23,Chicago,-0.50,Drafted as expected
23,24,Cincinnati,-0.73,Drafted as expected
24,25,Indianapolis,-0.75,Drafted as expected
25,25,Denver,-0.75,Drafted as expected
26,27,Tennessee,-1.25,Drafted as expected
27,28,Buffalo,-1.33,Drafted as expected
28,29,Houston,-1.88,Drafted as expected
29,30,Miami,-2.00,Drafted as expected
30,31,Detroit,-2.67,Missed on picks or prioritised other things ov...
31,32,New York (N),-5.50,Missed on picks or prioritised other things ov...

In [13]:
# Group by 'Drafted_By' and calculate the mean of 'weighted_value'
weighted_df = cur_draft.groupby('Drafted_By', as_index=False)['weighted_value'].mean().round(2)

# Rename the 'difference_BPA' column to 'bpa' to reflect the calculated average
weighted_df.rename(columns={'weighted_average': 'weighted_value'}, inplace=True)

# Sort the DataFrame by the 'bpa' column in descending order
weighted_df = weighted_df.sort_values(by='weighted_value', ascending=False)

# Add a rank column based on the sorted 'bpa' values
weighted_df['weighted_rank'] = weighted_df['weighted_value'].rank(ascending=False, method='min').astype(int)

# Define the conditions for the 'verdict' column
conditions = [
    (weighted_df['weighted_value'] >= 50),
    (weighted_df['weighted_value'] <= 43)
]

# Define the corresponding verdicts
verdicts = [
    'Acquired 2+ Starters',
    'Had Several Misses',
]

# Add the 'verdict' column to the DataFrame
weighted_df['verdict'] = np.select(conditions, verdicts, default='Unknown')

# Reorder columns to have 'rank' as the first column
weighted_df = weighted_df[['weighted_rank', 'Drafted_By', 'weighted_value', 'verdict']]

# Reset the index of the DataFrame
weighted_df.reset_index(drop=True, inplace=True)

# Display the final DataFrame
weighted_df

    weighted_rank       Drafted_By  weighted_value               verdict
0               1       Pittsburgh           72.57  Acquired 2+ Starters
1               2        Tampa Bay           69.83  Acquired 2+ Starters
2               3          Atlanta           67.00  Acquired 2+ Starters
3               4        Minnesota           65.11  Acquired 2+ Starters
4               5     Philadelphia           62.80  Acquired 2+ Starters
5               6      New Orleans           61.67  Acquired 2+ Starters
6               7           Dallas           61.11  Acquired 2+ Starters
7               8      Kansas City           60.14  Acquired 2+ Starters
8               9      New England           58.75  Acquired 2+ Starters
9              10     Jacksonville           54.67  Acquired 2+ Starters
10             11        Green Bay           53.50  Acquired 2+ Starters
11             12       Washington           52.86  Acquired 2+ Starters
12             13       Cincinnati           52.45  Acquired 2+ Starters
13             14         Carolina           51.29  Acquired 2+ Starters
14             15  Los Angeles (A)           51.20  Acquired 2+ Starters
15             16          Arizona           51.17  Acquired 2+ Starters
16             17  Los Angeles (N)           50.86  Acquired 2+ Starters
17             18        Las Vegas           50.60  Acquired 2+ Starters
18             19     Indianapolis           49.00               Unknown
19             19          Seattle           49.00               Unknown
20             21        Baltimore           47.62               Unknown
21             22          Buffalo           47.00               Unknown
22             23    San Francisco           46.71               Unknown
23             24          Houston           46.25               Unknown
24             25           Denver           44.50               Unknown
25             26          Detroit           44.33               Unknown
26             27        Cleveland           44.29               Unknown
27             28        Tennessee           42.75    Had Several Misses
28             29          Chicago           40.83    Had Several Misses
29             30     New York (A)           40.60    Had Several Misses
30             31            Miami           39.00    Had Several Misses
31             32     New York (N)           36.75    Had Several Misses

In [14]:
# Merge bpa_df with weighted_df on the 'Drafted_By' column
combined_df = pd.merge(bpa_df[['Drafted_By', 'bpa_rank']], weighted_df, on='Drafted_By', how='left')

# Rename the 'rank' column from bpa_df to 'bpa_rank' to avoid confusion
# combined_df.rename(columns={'rank': 'bpa_rank'}, inplace=True)

# Reorder columns to have 'bpa_rank' as the first column
combined_df = combined_df[['bpa_rank', 'weighted_rank', 'Drafted_By', 'weighted_value', 'verdict']]

# Sort the DataFrame by the 'weighted_rank' column in ascending order
combined_df = combined_df.sort_values(by='weighted_rank', ascending=True)

# Reset the index again after sorting, if desired
combined_df.reset_index(drop=True, inplace=True)

# Display the final sorted DataFrame
combined_df

,bpa_rank,weighted_rank,Drafted_By,weighted_value,verdict
0,2,1,Pittsburgh,72.57,Acquired 2+ Starters
1,1,2,Tampa Bay,69.83,Acquired 2+ Starters
2,5,3,Atlanta,67.00,Acquired 2+ Starters
3,3,4,Minnesota,65.11,Acquired 2+ Starters
4,9,5,Philadelphia,62.80,Acquired 2+ Starters
5,6,6,New Orleans,61.67,Acquired 2+ Starters
6,11,7,Dallas,61.11,Acquired 2+ Starters
7,7,8,Kansas City,60.14,Acquired 2+ Starters
8,4,9,New England,58.75,Acquired 2+ Starters
9,19,10,Jacksonville,54.67,Acquired 2+ Starters
10,12,11,Green Bay,53.50,Acquired 2+ Starters
11,8,12,Washington,52.86,Acquired 2+ Starters
12,24,13,Cincinnati,52.45,Acquired 2+ Starters
13,15,14,Carolina,51.29,Acquired 2+ Starters
14,13,15,Los Angeles (A),51.20,Acquired 2+ Starters
15,17,16,Arizona,51.17,Acquired 2+ Starters
16,14,17,Los Angeles (N),50.86,Acquired 2+ Starters
17,18,18,Las Vegas,50.60,Acquired 2+ Starters
18,9,19,Seattle,49.00,Unknown
19,25,19,Indianapolis,49.00,Unknown
20,21,21,Baltimore,47.62,Unknown
21,28,22,Buffalo,47.00,Unknown
22,20,23,San Francisco,46.71,Unknown
23,29,24,Houston,46.25,Unknown
24,25,25,Denver,44.50,Unknown
25,31,26,Detroit,44.33,Unknown
26,22,27,Cleveland,44.29,Unknown
27,27,28,Tennessee,42.75,Had Several Misses
28,23,29,Chicago,40.83,Had Several Misses
29,16,30,New York (A),40.60,Had Several Misses
30,30,31,Miami,39.00,Had Several Misses
31,32,32,New York (N),36.75,Had Several Misses

In [15]:
# Calculate the mean of 'difference_BPA' per draft round
draft_quality = cur_draft.groupby('Draft_Round', as_index=False)['difference_BPA'].mean()

# Rename the columns to match the desired format
draft_quality.rename(columns={'difference_BPA': 'average value'}, inplace=True)

# Sort by round to ensure it's in order
draft_quality = draft_quality.sort_values(by='Draft_Round')

# Round the 'average value' column to two decimal places
draft_quality['average value'] = draft_quality['average value'].round(2)

# Reset the index (optional, for clean indexing)
draft_quality.reset_index(drop=True, inplace=True)

# Optionally, add an 'overall' row to represent the overall average value across all rounds
overall_mean = cur_draft['difference_BPA'].mean().round(2)
draft_quality.loc[len(draft_quality.index)] = ['overall', overall_mean]

# Display the final DataFrame
draft_quality

  Draft_Round  average value
0           1           3.75
1           2           5.12
2           3           1.48
3           4           2.97
4           5           0.60
5           6           2.58
6           7           0.87
7     overall           2.51

In [18]:
## Write the dataframes to an excel file to be shared/saved.
def save_dfs_to_excel(**dfs):
    filename = f"{league}_{cur_year}_DraftGrades.xlsx"
    
    # Create an Excel writer object with the filename based on the league_cur_year
    with pd.ExcelWriter(filename, engine='xlsxwriter') as writer:
        # Iterate over the dictionary of DataFrames and their sheet names
        for sheet_name, df in dfs.items():
            # Write the DataFrame to the corresponding sheet
            df.to_excel(writer, sheet_name=sheet_name, index=False)

# Example usage with your DataFrames
save_dfs_to_excel(bpa_df=bpa_df, 
                  combined_df=combined_df, 
                  draft_quality=draft_quality)